.middle {
  @include full-width-containers;
  margin-top: 3rem;
  display: flex;
  gap: 4rem;

  > * {
    flex: 1;
    // background-color: #fac;
  }

  main {
    flex: 1.5;
  }

  .left-sidebar {
    section {
      padding-top: 1rem;
      display: flex;
      gap: 1rem;

      .avatar {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100px;
      }

      .about-me {
        p {
          margin-top: 10px;
          font-size: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    :nth-child(3) {
      display: none;
    }

    max-width: 600px;
    flex-direction: column-reverse;
  }
} 
 