@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('common.css');

body {
    margin: 0;
}

.login-page-wrapper {
    background-color: #012e5d;
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form__wrapper {
    background-color: #EFEBDE;
    margin: 10px;

    border: 3px solid #0944EC;
    border-radius: 10px 10px 0 0;

    max-width: 400px;
    flex: 1;
}

.login__form__header{
    display: flex;
    justify-content: space-between;

    background: rgb(45,137,251);
    background: linear-gradient(180deg, rgba(45,137,251,1) 10%, rgba(0,85,235,1) 60%, rgba(4,104,251,1) 100%);
    color: white;
    border-radius: 5px 5px 0 0;
}

.login__form__header > a {
    text-decoration: none;
}

.login__h1{
    margin: 0;
    font-size: .8rem;
    padding: 10px 3px 5px 3px;
    font-family: 'Press Start 2P', cursive;
}

.login__form__header__btn {
    font-size: 1.3rem;
    background: linear-gradient(167deg, rgba(244,167,139,1) 10%, rgba(209,68,40,1) 60%);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 5px;


    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.login__group-wrapper {
    margin: 10px;
    max-width: 300px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login__group-wrapper > input {
    background-color: #fff;
    border: 1px solid grey;
}

.login__group-wrapper > label {
    white-space: nowrap;
    min-width: 120px;
}

.login__group-wrapper > p {
    margin: 0;
    color: grey;
}

.login__form__btn-wrapper {
    margin: 20px 10px 10px 10px;

    display: flex;
    justify-content: end;
}

.login__form__btn-wrapper > a {
    margin-right: 10px;
}

.login__form__error {
    text-align: center;
    color: red;
    padding-bottom: 10px;
}

.windows-standart-btn {
    background-color: #F7F3EF;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 3px;
    color: black;
    padding: 3px 5px;
}

.windows-standart-btn.priority {
    border: 2px solid blue;
}

button {
    cursor: pointer;
    -webkit-appearance: none;
}
